body {
  background-color: chartreuse;
  color: black;
}

button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 12px;
}

h2 {
  color: brown;
  text-align: center;
}

.para {
  color: blue;
  font-size: 20px;
}
