body {
  background-color: darkturquoise;
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 12px;
}

h2 {
  color: brown;
  text-align: center;
}
